.root {
  position: relative;
}

.input {
  margin-left: -150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 12px 20px;
  padding-left: 52px;
  width: 300px;
  border-radius: 15px;
  font-size: 16px;
  transition: width 0.3s ease-in-out;

  &:focus {
    width: 400px;
  }
}

.icon {
  width: 24px;
  height: 24px;
  opacity: 0.5;
  position: absolute;
  left: -130px;
  top: 12px;
}

.clearInput {
  position: absolute;
  right: 10px;
  top: 14px;
  width: 18px;
  height: 18px;
  opacity: 0.7;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}
